<div
  id="panel-C"
  class="card tab-pane fade show active"
  role="tabpanel"
  aria-labelledby="reviews"
>
  <div class="card-header" role="tab" id="heading-C">
    <h5 class="mb-0">
      <a
        class="collapsed"
        data-toggle="collapse"
        href="#collapse-C"
        aria-expanded="false"
        aria-controls="collapse-C"
      >
        Reviews
      </a>
    </h5>
  </div>
  <div
    id="collapse-C"
    class="collapse show"
    role="tabpanel"
    data-parent="#content"
    aria-labelledby="heading-C"
  >
    <div class="single-profile-page">
      <div class="single-page-block">
        <div class="reviews-blocks">
          <div class="dropdown-block">
            <label>Sort</label>
            <select class="form-control">
              <option value="Newest">Newest</option>
              <option value="Newest">Newest</option>
              <option value="Newest">Newest</option>
              <option value="Newest">Newest</option>
            </select>
          </div>
          <div class="reviews-main-block">
            <div class="single-review">
              <div class="top-block">
                <div class="left-block">
                  <h3>Joya Doah</h3>
                  <small>Verified Client</small>
                  <p>17 December, 2019</p>
                </div>
                <div class="right-block">
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <p>Love It</p>
                </div>
              </div>
              <div class="bottom-block">
                <h5>Positive</h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting.
                </p>
              </div>
            </div>
            <div class="single-review">
              <div class="top-block">
                <div class="left-block">
                  <h3>Dong Chu</h3>
                  <small>Verified Client</small>
                  <p>17 December, 2019</p>
                </div>
                <div class="right-block">
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <p>Like It</p>
                </div>
              </div>
              <div class="bottom-block">
                <h5>Positive</h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting.
                </p>
                <h5>Negative</h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type.
                </p>
              </div>
            </div>
            <div class="single-review">
              <div class="top-block">
                <div class="left-block">
                  <h3>Dong Chu</h3>
                  <small>Verified Client</small>
                  <p>17 December, 2019</p>
                </div>
                <div class="right-block">
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star fill" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <p>Like It</p>
                </div>
              </div>
              <div class="bottom-block">
                <h5>Negative</h5>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type.
                </p>
              </div>
            </div>
          </div>
          <div class="load-more-btn">
            <a href="#" class="btn"
              >Load More <img src="images/load-more-icon.svg"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
