<div class="main-content">
  <!-- content area part -->
  <section class="caregivers-section register-frm thankyou">
    <div class="container">
      <div class="row">
        <div class="caregivers-inner col-md-12">
          <div class="left-block">
            <h2 class="text-center">Thank you!</h2>
            <p class="text-center">
              We will review your profile in 24 hours and will email you once
              this is in the platform!<br />
              Please email or whatsapp the required documents (HKID, address
              proof, professional certificates and payslips or employment
              contracts) to XXX@XXX.com or XXXX XXXX if you have not done so.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
